<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">

    <div class="col-1 col-md-2">

    </div>

    <div class="col-10 col-md-8">
        <h4>Welcome to statistics page! Please choose what would you like to see</h4>
        <a class ="btn btn-primary" href="/chart/cashflow"> Income-Expenses cash flow stats</a>
        <a class ="btn btn-primary" href="/chart/paid"> Paid-Unpaid stats</a>
    </div>

    <div class="col-1 col-md-2">

    </div>

</div>


</body>
</html>
