<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src='../../public/account.js'></script>
</head>
<body>

<div class="row">
    <div class="col-12 col-sm-2">
        <?php if(!empty($filters))
            echo $filters; ?>
    </div>
    <div class="col-12 col-sm-8">
        <?php
            if(empty($accounts))
                echo '<h3>No users to show</h3>';
            else
                echo $table;
        if($pagination){
        echo $pagination;
        }?>
        <a href="/user/add">New user account</a>
    </div>
    <div class="col-12 col-sm-2">

    </div>

</div>
</body>
</html>
